<div id="card-<%= id %>" class="w-full group w-full bg-white rounded-xl p-8 border border-gray-200 <% if(typeof shadow !== 'undefined') { %>shadow-lg<% } else { %>shadow-none<% } %>">
    <div class="flex flex-row items-center gap-1 items-center">
        <h2 class="text-gray-500 text-sm"><%= title %></h2>
        <img id="icone-<%= id %>" src="https://media.tenor.com/WX_LDjYUrMsAAAAi/loading.gif" alt="Icone do card" class="hidden w-4 h-4">
    </div>
    <p id="valor-<%= id %>" class="text-4xl font-extrabold text-gray-600  transition-colors duration-300"><%= value %> </p>
    <p class="text-gray-400 text-sm"><%= description %></p>
</div>

