<style>
    #conteiner-2{
        opacity:0;
        transform: translateY(10px);
        transition: opacity .2s ease, transform .4s ease;
    }

    #conteiner-2.show{
        opacity:1;
        transform: translateY(0);
    }
</style>

<%- include('components/cards/statusBar'); %>
<%- include('components/cards/totalEstoque', { value: 'R$ 00.000,00' }) %>
<%- include('partials/actionButtons') %>
<div id="conteiner-2">
<%- include('components/searchBox', { placeholder: 'Pesquisar insumo' }) %>
<%- include('partials/inventario') %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        const conteiner2 = document.getElementById("conteiner-2");

        setTimeout(() => {  
            conteiner2.classList.add("show");
        }, 650);

    });
</script>