<div class="flex flex-row items-center justify-between">
    <%- include('../components/breadcrumb', { link: '/', paginaAnterior: 'Estoque'}) %>
    <%- include('../components/buttons/carrinho') %>
</div>

<%- include('../components/searchBox', { placeholder: 'Pesquisar insumo' }) %>

<div id="container-insumos" class="flex flex-col gap-3">
    <!-- O conteúdo do container será adicionado dinamicamente -->
</div>

<div id="modal-adicionar-carrinho" class="hidden bg-black/20 backdrop-blur-sm fixed top-0 left-0 w-full h-full flex flex-col gap-4 items-center px-8 justify-center">
    <div class="bg-white rounded-xl p-8 w-full max-w-lg border border-gray-200">
        <div id="modal-content" class="flex flex-col gap-4">
            <!-- O conteúdo do modal será adicionado dinamicamente -->
        </div>
    </div>
    <div id="fechar-popup" class="cursor-pointer bg-white text-gray-500 text-sm px-3 py-1 rounded-full opacity-70 hover:opacity-80 transition-all duration-600 flex flex-row gap-1 items-center">
        <img class="h-5 grayscale" src="/images/icones/falha.png">
        Fechar janela
    </div>
</div>




<script>
    document.addEventListener('DOMContentLoaded', async function() {

        //// Elementos do DOM
        const container = document.getElementById('container-insumos');
        const modal = document.getElementById('modal-adicionar-carrinho');
        const modalContent = document.getElementById('modal-content');
        const closemodal = document.getElementById('fechar-popup');

        //// Busca os insumos na API
        const response = await fetch('https://insumos.taiksu.com.br/insumos?visibilidade=loja')
        const categorias = await response.json();

        //// Função para mostrar o toast
        function mostrarToast() {
            toast.classList.remove('hidden');
            toast.classList.add('flex');
            setTimeout(() => {
                toast.classList.add('hidden');
                toast.classList.remove('flex');
            }, 800);
        }


        //// Popula a lista de insumos
        Object.keys(categorias).forEach(categoria => {
            const divCategoria = document.createElement('div');
            divCategoria.className = 'flex flex-col gap-1 my-4 categoria-insumos';
            divCategoria.innerHTML = `
                <h2 class="text-sm text-gray-500">${categoria}</h2>
                <div class="flex flex-col gap-3">
                    ${categorias[categoria].map(insumo => `
                            <div data-insumo-id="${insumo.id}" class="group cursor-pointer insumo-card flex flex-row items-center justify-between bg-white border border-gray-200 rounded-xl p-4 hover:shadow-lg transition-all duration-400">

                                <div class="flex flex-row items-center gap-2">
                                    <img class="insumo-foto md:h-12 md:w-12 h-10 w-10 rounded-md bg-white group-hover:scale-110 transition-all duration-400" 
                                         src="https://insumos.taiksu.com.br/${insumo.foto_url}">
                                    
                                    <div class="flex flex-col gap-0">
                                        <h3 class="insumo-nome md:text-md text-sm text-gray-600 font-medium">
                                            ${insumo.nome}
                                        </h3>

                                    </div>
                                </div>


                            </div>
                    `).join('')}
                </div>
            `;
            container.appendChild(divCategoria);
        });


        //// Interações para abrir o pop-up ao clicar no card do insumo
        const insumos = document.querySelectorAll('.insumo-card');

        insumos.forEach(insumo => {
            insumo.addEventListener('click', async function() {
                const insumoId = this.getAttribute('data-insumo-id');
                const insumoNome = this.querySelector('.insumo-nome').textContent;
                const insumoFoto = this.querySelector('.insumo-foto').src;

                // Abre o modal
                modal.classList.remove('hidden');
                modalContent.innerHTML = `
                    <div class="flex flex-col gap-4">

                        <div class="flex flex-row items-center gap-2 mb-4">
                            <img src="${insumoFoto}" class="md:h-12 md:w-12 h-10 w-10 rounded-md bg-white border border-gray-100">
                            <div class="flex flex-col gap-0 mt-1">
                                <h2 class="text-xs text-gray-500">Adicionar ao Carrinho</h2>
                                <h2 class="text-lg text-gray-700 font-semibold">${insumoNome}</h2>
                            </div>
                        </div>

                        <div id="modal-content-precos" class="flex flex-col gap-2 px-4 rounded-md border border-gray-100">
                            <!-- O conteúdo do modal será adicionado pela próxima função kkk -->
                        </div>
                        
                        <div id="modal-content-quantidade" class="w-full flex flex-col items-center gap-2 mt-1">
                            <div class="w-full flex flex-row items-center gap-2">
                                <div class="w-full flex flex-col gap-0">
                                    <h2 class="text-xs text-gray-500">Fornecedor</h2>
                                    <select id="fornecedor" class="w-full p-2 border border-gray-200 rounded-md appearance-none">
                                        <option disabled selected value="">Selecione um fornecedor</option>
                                    </select>
                                </div>
                                <div class="w-24flex flex-col gap-0">
                                    <h2 class="text-xs text-gray-500">Quantidade</h2>
                                    <input type="number" id="quantidade" class="w-full p-2 border border-gray-200 rounded-md" placeholder="Qtd.">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row items-center justify-between">
                            <h3 class="text-md text-gray-600">Total:</h3>
                            <h2 id="preco-total" class="text-md text-green-700 font-semibold">R$ 0,00</h2>
                        </div>
                        <button data-insumo-id="${insumoId}" id="adicionar-carrinho" class="mt-4 cursor-pointer w-full p-2 bg-green-600 hover:bg-green-700 transition-all duration-300 text-white rounded-full">Adicionar ao carrinho</button>

                    </div>
                `;

                // Busca valores na API catálogo
                const response = await fetch(`https://catalogo.taiksu.com.br/api/insumo/${insumoId}`).then(res => res.json());
                const precos = response.precos;
                const modalContentPrecos = document.getElementById('modal-content-precos');
                const modalContentQuantidade = document.getElementById('modal-content-quantidade'); 
                const adicionarCarrinhoButton = document.getElementById('adicionar-carrinho');        

                if(precos.length == 0) {
                    modalContentPrecos.innerHTML = `
                        <div class="flex flex-col gap-4 items-center justify-center p-8">
                            <img src="/images/icones/search.png" class="h-12 w-12">
                            <h2 class="text-sm text-gray-600 text-center font-medium">Nenhum fornecedor encontrado<br> para este insumo</h2>
                        </div>
                    `;
                    console.log('Nenhum fornecedor encontrado para este insumo');
                    modalContentQuantidade.innerHTML = '';
                    adicionarCarrinhoButton.classList.add('hidden');
                }

                // Popula os preços no modal
                precos.forEach(preco => {
                    const divPreco = document.createElement('div');
                    divPreco.className = 'flex flex-row items-center justify-between border-b border-gray-100 last:border-b-0 py-2';
                    divPreco.innerHTML = `
                        <div class="flex flex-row items-center gap-2">
                            <img src="${preco.fornecedor_logo}" class="h-8 w-8 rounded-full bg-white border border-gray-100">
                            <h2 class="text-gray-600 font-medium">${preco.nome_fornecedor}</h2>
                        </div>
                        <h2 class="text-green-800 font-semibold">R$ ${preco.preco.replace('.', ',')} <span class="text-sm text-gray-500">/${response.precos[0].unidade_medida}</span></h2>
                        <p data-fornecedor="${preco.fornecedor_id}" class="hidden preco-fornecedor">${preco.preco}</p>
                    `;
                    modalContentPrecos.appendChild(divPreco);
                });

                // Remove ponto do input se a unidade de medida for unidade
                let unidadeMedida = response.precos[0].unidade_medida;   
                if(unidadeMedida != 'kg') {
                    document.getElementById('quantidade').addEventListener('input', function() {
                        this.value = this.value.replace('.', '');

                        // Impede número negativo
                        if(this.value < 0) {
                            this.value = 0;
                        }
                    });
                }

                // Popula o select de fornecedores
                const fornecedorSelect = document.getElementById('fornecedor');
                precos.forEach(preco => {
                    const option = document.createElement('option');
                    option.value = preco.fornecedor_id;
                    option.text = preco.nome_fornecedor;
                    fornecedorSelect.appendChild(option);
                });

                // Calcula o preço total
                document.getElementById('quantidade').addEventListener('input', function() {
                    const quantidade = this.value;
                    const fornecedorselecionado = document.getElementById('fornecedor').value;
                    console.log('fornecedor selecionado: ' + fornecedorselecionado);
                    const precofornecedor = document.querySelector(`.preco-fornecedor[data-fornecedor="${fornecedorselecionado}"]`).textContent;
                    console.log('preço do fornecedor: ' + precofornecedor);
                    const precoTotal = quantidade * precofornecedor;
                    document.getElementById('preco-total').textContent = precoTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
                });

                // Botão adicionar ao carrinho
                adicionarCarrinhoButton.addEventListener('click', async function() {
                    const quantidade = document.getElementById('quantidade').value;
                    const fornecedorselecionado = document.getElementById('fornecedor').value;
                    const insumoId = this.getAttribute('data-insumo-id');
                    const unidadeMedida = this.getAttribute('data-unidade-medida');
                    const quantidadeCarrinho = document.getElementById('quantidade-carrinho')
                    const iconeCarrinho = document.getElementById('icone-carrinho')
                    const responsavelId = <%= user_id %>;
                    const unidadeId = <%= unidade_id %>;

                    // Obriga seleciona fornecedor
                    if(fornecedorselecionado === '') {
                        alert('Selecione um fornecedor');
                        return;
                    }

                    // Obriga quantidade maior que 0
                    if(quantidade <= 0) {
                        alert('Quantidade inválida');
                        return;
                    }

                    const response = await fetch('https://carrinho.taiksu.com.br/api/add', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            insumo_id: insumoId,
                            quantidade: quantidade,
                            fornecedor_id: fornecedorselecionado,
                            unidade_id: unidadeId,
                            responsavel_id: responsavelId
                        })
                    });

                    const data = await response.json();
                    console.log(data);

                    // Atualiza o carrinho e fecha o modal
                    quantidadeCarrinho.textContent = data.quantidade_itens + ' itens';
                    console.log('quanitade recebida da API: ', data.quantidade_itens, 'valor carrinho atualizado: ', quantidadeCarrinho.textContent);
                    iconeCarrinho.src = '/images/icones/carrinho-cheio.png';
                    modalContent.innerHTML = `
                        <div class="flex flex-col items-center gap-2 py-24">
                            <img src="https://estoque.taiksu.com.br/images/icones/certo.png" class="h-12 w-12">
                            <h2 class="text-lg text-gray-600"><span class="font-semibold text-green-700">${insumoNome} </span> adicionado ao carrinho!</h2>
                        </div>
                    `;
                    setTimeout(() => {
                        modal.classList.add('hidden');
                        modalContent.innerHTML = '';
                        document.getElementById('quantidade').value = '';
                        document.getElementById('fornecedor').value = '';
                    }, 1000);

                    // Se der erro, mostra alerta e não faz mais nada
                    if(!response.ok) {
                        alert('Falha ao adicionar item ao carrinho, tente novamente.');
                        throw new Error('Falha ao adicionar item ao carrinho');
                    }
                });


            });
        });

        // Fecha modal apertando ESC
        document.addEventListener('keydown', (e) => {
        if (e.key === 'Escape') {
            modal.classList.add('hidden');
            modalContent.innerHTML = '';
        }});

        // Fecha modal ao clica no botao
        closemodal.addEventListener('click', function(e) {
            if (e.target === closemodal) {
                modal.classList.add('hidden');
                modalContent.innerHTML = '';
            }
        });

        //// Fecha o pop-up ao clicar fora
        modal.addEventListener('click', function(e) {
            if (e.target === modal) {
                modal.classList.add('hidden');
                modalContent.innerHTML = '';
            }
        });
    });
</script>