<%- include('../../components/toast', { sucess: true, texto: 'Entrada de estoque finalizada com sucesso', id: 'sucesso-toast' }); %>
<%- include('../../components/toast', { sucess: false, texto: 'Falha ao finalizar a entrada de estoque', id: 'falha-toast' }); %>

<div id="container-entrada">
    <div class="flex flex-row items-center justify-between">
        <%- include('../../components/breadcrumb', { link: '/entrada/manual', paginaAnterior: 'Entrada manual'}) %>
    </div>

    <%- include('../../partials/containerListaEntrada') %>

    <div id="dados-lista" class="flex flex-row items-center justify-between border border-gray-200 bg-white rounded-xl p-6 mt-4">
        <h3 class="text-md font-medium text-gray-700">Valor total</h3>
        <p id="total-entrada" class="text-md text-green-600 font-semibold"> </p>
    </div>  

    <%- include('../../partials/termosEntrada') %>

    <button id="finalizar-entrada" class="hidden w-full cursor-pointer bg-green-600 text-white py-3 rounded-full hover:bg-green-700 transition-colors duration-300">
        Confirmar entrada
    </button>
</div>

<script>
    const finalizarEntrada = document.getElementById('finalizar-entrada');
    const sucessoToast = document.getElementById('sucesso-toast');
    const containerEntrada = document.getElementById('container-entrada');
    const falhaToast = document.getElementById('falha-toast');
    const unidade_id = <%= unidade_id %>;

    finalizarEntrada.addEventListener('click', async () => {
        const response = await fetch('/api/entrada/manual', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                unidade_id
            })
        });

        const data = await response.json();

        if(data.success) {
            containerEntrada.remove();
            sucessoToast.classList.remove('hidden');
            setTimeout(() => {
                window.location.href = '/';
            }, 1500);
        } else {
            falhaToast.classList.remove('hidden');
            setTimeout(() => {
                falhaToast.classList.add('hidden');
            }, 2000);
        }
    });
</script>